@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');



.title{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 4.2rem;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.menu {
  display: flex;
}

.semi{
  text-decoration: none;
  color: black;
}
.semi:hover {
  color: grey;
}

.image {
  width: auto;
  height: 82vh;
  border: 2px;
  border-color: black;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
}


@media (max-width: 900px) {
  .menu {
    display: none;
  }
  .menub {
    display: none;
  }
  .title{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 3.5rem;
  }
  .image {
    width: 90%;
    height: auto;
  }
}


