@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.title{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 4.2rem;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.menu {
  display: flex;
}
.image {
  width: 70%;
  height: 50%;
  margin-left: 0%;
}
.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
}


@media (max-width: 900px) {
  .menu {
    display: none;
  }
  .menub {
    display: none;
  }
}


